<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Location Detector</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="./styles46.css">
    <style>
        
    </style>
</head>
<center>
    <body>
        <h1>Current Location Detector</h1>
        <p id="location">Click the button to get your current location.</p>
        <button onclick="getLocation()">Get Location</button>
        <div id="map"></div>
        <!-- Add this list element to your HTML -->
        <ul id="hospitalList"></ul>
    
        <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
        <script src="./loc.js"></script>
    </body>
</center>

</html>
